<!DOCTYPE html>
<html  ng-app="myApp">

<head>
  <title>בלוגים</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="includes/style.css">
</head>

  <script>
  var myApp = angular.module('myApp',[]);

   myApp.controller('MyController',  ['$scope', '$http','$location', function($scope,$http,$location)
    {
	   /*$scope.updateMoney = function(data){
		   $scope.money=data.data;
	   }
      $scope.draw = function(){
         $http.post('Draw', $scope.Amount).then($scope.updateMoney, $scope.updateMoney);
      }*/
      ;

      $scope.sucsses = function(data){
    	  location="blogs.html";
		   //$scope.posts=data.data;
	  }
      
      $scope.fail = function(data){
		   $scope.posts=[{"title": "תקלה"}];
	   }
      
      $scope.sendToDB = function(){
      	$http.post('Post',$scope.post).then($scope.sucsses, $scope.fail);
    }
      
      $scope.sucssesDelete = function(data){
    	  location="blogs.html";
		   //$scope.posts=data.data;
	  }
     
     $scope.failDelete = function(data){
		   $scope.posts=[{"title": "תקלה"}];
	   }
     
     $scope.deleteFromDB = function(){
     	$http.delete('Post?id='+$location.search().id).then($scope.sucssesDelete, $scope.failDelete);
   }
      
      $scope.sucssesGet = function(data){
		   $scope.post=data.data;
	  }
     
     $scope.failGet = function(data){
		   $scope.post=[{"title": "תקלה"}];
	   }
     
     $scope.postID = $location.search().id
     if($scope.postID)
     $http.get('Post?id='+$location.search().id).then($scope.sucssesGet, $scope.failGet);
     
      
     	   $scope.post={
    		     	    "date_": new Date().toString()
    		     	  }
	                     
    }]);
  </script>

<body id="warpper"  ng-controller="MyController">
  <header>
      <nav> 
         <ul>
         <li  class="dropdown">
             <a href="#"><img src="images/menu.png"></a>
              <div class="dropdown-content">
           <a href="#">הפרופיל שלי</a>
           <a href="#">התאמה אישית</a>
           <a href="#">הקורסים שלי</a>
            <a href="blogs.html">בלוגים</a>
          </div>
        </li>

        </ul>

        </nav>
    </header>
        
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav"><br>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="index.html"><img src="images/home.png"></a></li>
        <li class="active1"><a href="#">בלוגים הנצפים ביותר</a></li>
        <li class="active1"><a href="#">הבלוגים הפעילים ביותר</a></li>
        <li class="active1"><a href="#">בלוגים לפי נושאים</a></li>
        <li class="active1"><a href="#">הוספת  בלוג</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="חפש בלוג">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
       <div class="breadCrums">
           <a href="index.html">בית/</a> 
           <a href="blogs.html">בלוגים/</a>
        <span>ניהול בלוג</span>
           </div>
    
      <h2><input ng-model="post.title" placeholder="הכנס כותרת"></h2>
      <h5><span class="glyphicon glyphicon-time"></span> <input ng-model="post.author" placeholder="שם המחבר"> | פורסם: <input ng-model="post.date_"></h5>
     <select ng-model="post.subject">
     <option>הלוואה</option>
      <option>חסכון</option>
     </select>
      <article><input ng-model="post.data" placeholder="תוכן הבלוג"></article><br>

      <br><br><hr>

  <button type="submit" class="btn btn-success" ng-show="postID" ng-click="sendToDB()">ערוך</button>
  <button type="submit" class="btn btn-success" ng-show="!postID" ng-click="sendToDB()">שלח</button>
  <button type="submit" class="btn btn-danger" ng-show="postID" ng-click="deleteFromDB()">מחק</button>
</div>
</div>
</div>
</body>
</html>


