<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  </head>
  <script>
  var myApp = angular.module('myApp',[]);

   myApp.controller('MyController',  ['$scope', '$http', function($scope,$http)
    {
	   $scope.updateMoney = function(data){
		   $scope.money=data.data;
	   }
      $scope.draw = function(){
         $http.post('Draw', $scope.Amount).then($scope.updateMoney, $scope.updateMoney);;
      }
     
    }]);
  </script>
  <body>
	
	<nav>
	<a href="register.html">הרשמה</a>
	</nav>
	
    <div ng-controller="MyController">
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <br>
       <label>Amount:</label>
      <input type="number" ng-model="Amount" placeholder="Enter a amount here">
      <br>
      bank have: {{money}} NIS
      <button ng-click="draw()">draw</button>
    </div>
  </body>
</html>